.page {
    width: 100px;
    height: 100px;
    background:coral;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page__one {
    width: 50px;
    height: 50px;
  }
  
  .page__one--page {
    background:chartreuse;
  }
  
  .block {
    width: 100px;
    height: 100px;
    background:blueviolet;
  }
  
  .rotation {
    animation: rotation 5s;
    animation-iteration-count:inherit;
    animation-timing-function: linear;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  